body{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Mysore_Palace_gate.jpg/1280px-Mysore_Palace_gate.jpg");
    height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}