body{
	background-image:url("https://www.holidify.com/images/cmsuploads/compressed/Chamundeshwari_Temple_atop_Chamundi_Hills_20171007135340.jpg");
    height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}