body{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/f/ff/St._Philomena%27s_Church%2C_Mysore_03.jpg");
    height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}