body{
	background-image:url("http://www.famousplacesinindia.in/Museums/Images/Melody-World-Wax-Museum/Melody-World-Wax-Museum-1.jpeg");
    height: 100vh;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}