body{
	background-image:url("http://www.famousplacesinindia.in/Museums/Images/Melody-World-Wax-Museum/Melody-World-Wax-Museum-1.jpeg");
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}