body{
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Mysore_Rail_Museum_entrance.jpg/1200px-Mysore_Rail_Museum_entrance.jpg");
    height: 100vh; 
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}