body{
	background-image:url("https://www.mysoretourism.org.in/images/headers/jaganmohan-palace-mysore-timings-entry-fee-mysore-tourism-header.jpg");
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}